/* Theme Name: BCEnt Theme doi ten oi
 * Description: For BCEnt Fanfic only
 * Theme URI: skycean.tk
 * Version: 1.0
 * Theme Author: haithien25
 * Author URI: http://skycean.tk
 * Tags: starter theme, framework theme, two-columns, customize
 * Textdomain: bcent
 */

/* Global Styles */
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-size: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #e6ddde;
}
.clear{
	clear:both;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color: #f6591c;
	text-decoration: none;
}
a:hover, a:visited{
	color: #ff1f00;
	text-decoration: underline;
}
input, input[type=submit], button{
	border: 1px solid #c8c8c8 !important;
	padding: 5px 10px;
}
h1{
	font-size: 2.2em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.8em;
}
h4{
	font-size: 1.55em;
}
h5{
	font-size: 1.3em;
}
h6{
	font-size: 1.1em;
}
table, table tr, table td{
	border: 1px solid #e7e7e7;
	padding: 8px;
}

/* Chia cột website */
#container{
	width: 1024px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #d1d1d1;
	padding: 10px 25px;
  box-shadow: 1px 2px 1px 2px grey;
}
.content{
	overflow: hidden;
}
#main-content{
	width: 620px;
	float: left;
	margin-right: 10px;
}
#sidebar{
	width: 320px;
	float: right;
	margin-left: 10px;
	padding-left: 20px;
}

/* Header */
/* Logo */
.logo{
	margin-bottom: 30px;
	line-height: 2em;
}
.logo .site-name{

}
.logo .site-name h1{
	margin: 0;
	font-size: 0;
}
.logo .site-name a{
	color: #4681DA;
	font-size: 32px;
	font-weight: bold;
}
.logo .site-description{
	margin-top: -1em;
	color: #d6d6d6;
	font-family: serif;
	font-size: 1.04em;
	font-style: italic;
}

/* Primary Menu */
.primary-menu:after{
	display: table;
	content: "";
	clear: both;
}

/* Post style */
.post{
	overflow: hidden;
	border-top: 1px solid #e8e8e8;
}
.post .entry-thumbnail{
	width: 150px;
	float: left;
	margin: 2.2em 2em 1em 0;
}
.post .post-thumbnail{
	margin: 0;
	/*width: 100px;*/
}
.post .entry-content,
.post .entry-header {
	padding-left: 180px;
}
.post .entry-content {
	text-align: justify;
}
.post a.read-more {
    display: table;
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    margin-top: 10px;
}
.post a.read-more:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.post a.read-more:active {
        position:relative;
        top:1px;
}
.single .post .entry-content,
.single .post .entry-header {
	padding-left: 0;
}
.single .entry-thumbnail{
	display: none;
}
.entry-meta{
	font-family: serif;
	font-size: 16px;
	color: #6f6f6f;
}
.entry-meta a{
	color: #6f6f6f;
}
.entry-tag{
	font-weight: bold;
}

/* Author box */
.author-box{
	overflow: hidden;
	background: #f3f3f3;
	padding: 10px 25px;
	margin: 15px 0;
	border: 1px solid #e1e1e1;
}
.author-avatar{
	float: left;
	margin: 17px 25px 0 0;
}
.author-avatar img{
	border-radius: 65px;
	-webkit-border-radius: 65px;
	-moz-border-radius: 65px;
}

/* Post format */
.format-video .entry-content,
.format-video .entry-header {
	padding-left: 0;
}
.format-link .entry-content a{
	color: #333;
}
.format-link .entry-content a:hover{
	text-decoration: none;
	color: #000;
}

/* Post Image styles */
/* == WordPress WYSIWYG Editor Styles == */
.entry-content img {
        margin: 0 0 1.5em 0;
        }
.alignleft, img.alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left;
        }
.alignright, img.alignright {
        margin-left: 1.5em;
        display: inline;
        float: right;
        }
.aligncenter, img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both;
        }
.alignnone, img.alignnone {
        /* not sure about this one */
        }
.wp-caption {
        margin-bottom: 1.5em;
        text-align: center;
        padding-top: 5px;
        max-width: 100%;
        }
.wp-caption img {
        border: 0 none;
        padding: 0;
        margin: 0;
        }
.wp-caption p.wp-caption-text {
        line-height: 1.5;
        font-size: 10px;
        margin: 0;
        }
.wp-smiley {
        margin: 0 !important;
        max-height: 1em;
        }
blockquote.left {
        margin-right: 20px;
        text-align: right;
        margin-left: 0;
        width: 33%;
        float: left;
        }
blockquote.right {
        margin-left: 20px;
        text-align: left;
        margin-right: 0;
        width: 33%;
        float: right;
        }
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
 
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*----Sidebar-----*/
#sidebar{
	font-size: 0.9em;
}
#sidebar ul,
#sidebar ol,
#sidebar li{
	margin: 0;
	list-style: none;
	padding: 0;
}
.widget{
	background: #f7f7f7;
	border: 1px solid #e8e8e8;
	padding: 1em !important;
	margin: 15px 0 !important;
}
.widget ul{
	list-style: none;
	padding-left: 1.7em !important;
}
.widget ul li{
	margin-bottom: 8px !important;
	list-style: square !important;
	padding-left: 1em;
}
.widget_calendar{}
.widget_calendar table{
	width: 100%;
}
.widget_calendar table #today{
	background: #7c7c7c;
	color: #fff;
}
.widget_calendar table caption{
	font-weight: bold;
	font-size: 1.1em;
}

/* Shortcode */
.shortcode-wrapper{color:#390800;padding:10px;border-radius: 10px; background: #d6d6d6}

/* Ribbon */
.ribbon {
   width: 1112px;
   position: relative;
   left:-44px;
   top: -30px;
   text-align: center;
   font-size: 18px!important;
   background: #390800;
   background: -webkit-gradient(linear, left top, left bottom, from(#390800), to(#1a0000));
   background: -webkit-linear-gradient(top, #390800, #1a0000);
   background: -moz-linear-gradient(top, #390800, #1a0000);
   background: -ms-linear-gradient(top, #390800, #1a0000);
   background: -o-linear-gradient(top, #390800, #1a0000);
   background-image: -ms-linear-gradient(top, #390800 0%, #1a0000 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 21px!important;
   color: #808080;
   text-shadow: #1a0000 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #260d0d;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 3px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -2px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #382b2b transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }